main {
  .hero-section {
    h1 {
      grid-column: 2 / 8; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 2/4;
      align-self: start; // Allinea h1 in alto
      color: $white;
    }

    p {
      grid-column: 9 / 12; // Posiziona p dalla 9ª alla 11ª colonna
      grid-row: 5;
      align-self: center; // Allinea p in basso
      text-align: right; // Allinea il testo di p a destra
      color: $white;
    }
  }

  &#academic-avenues {
    .hero-section {
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: repeat(5, 1fr);
      background-image: url("../assets/bg-academic2.png");
      background-size: cover;
      background-position: center;
      height: 100vh;
      h1 {
        font-size: 4rem;
      }
    }
   
  }




 
}
