main {


  &#contattaci {
    .hero-section {
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      min-height: 100vh;
      padding: 3rem 0;
      grid-template-rows: auto;
      padding: 4rem 0;
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
      }
      .spacer{
        grid-column: 1/13;
        height: 20px;
      }
      div {
        grid-column: 2/6;
        grid-row: 2;
      }
      h2 {
        margin: 0;
        font-size: 2rem;
        color: $dark-blu;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $dark-blu;
        text-align: left;

      }
    
    }
  }
}
