main {

&#cerca{
  .hero-section {
    display: flex;
    flex-direction: column;
    padding: 5rem 9rem;

    p {
      font-size: 1rem;
      line-height: 1.5rem;
      color: $dark-blu;
      text-align: left;

    }
  }
}
  &#contattaci {
    .hero-section {
      padding-top: 8rem!important;
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: auto;
      padding: 4rem 0;
      @media (max-width: 1000px) {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        padding-top: 5rem;
      }
      .spacer{
        grid-column: 1/13;
        height: 20px;
      }
      div {
        grid-column: 2/6;
        grid-row: 2;
      }
      h2 {
        margin: 0;
        font-size: 2rem;
        color: $dark-blu;
      }
      p {
        font-size: 1rem;
        line-height: 1.5rem;
        color: $dark-blu;
        text-align: left;

      }
      a{
        color: $magenta!important;
      }
    
    }
  }

  .document-section{
    padding: 1rem 8rem;
    display: flex;
    flex-direction: column;
    h2{
      font-size: 16px;
      color: $magenta;
    }
    strong{
      font-weight: 700;
    }
    
  }
  #accreditamento{
    padding-top: 10rem;
    padding-left: 9rem;
    padding-right: 9rem;
    padding-bottom: 5rem;
    h1{
      text-align: center;
      font-size: xx-large;
    }
  }
}
