main {
  min-height: 100vh;
  .hero-section {
    h1 {
      grid-column: 2 / 8; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 2/4;
      align-self: start; // Allinea h1 in alto
      color: $white;
    }

    p {
      grid-column: 9 / 12; // Posiziona p dalla 9ª alla 11ª colonna
      grid-row: 4/5;
      align-self: end; // Allinea p in basso
      text-align: right; // Allinea il testo di p a destra
      color: $white;
    }
  }

  &#discovery-hub {
    .hero-section {
      background-image: url("../assets/bg-home.png");
      background-size: cover;
      background-position: center;
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: repeat(5, 1fr);
      h1 {
        strong {
          font-size: 70px;
          font-family: "Cormorant Garamond", serif;
        }
        i {
          font-size: 50px;
          font-family: "Cormorant Garamond", serif;
        }
      }
    }
  }
  &#legacy-lane {
    .hero-section {
      background-image: url("../assets/bg-legacy.png");
      background-size: cover;
      background-position: center;
    }
    h1 {
      grid-column: 2 / 8; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 2/4;
      align-self: start; // Allinea h1 in alto
      color: $white;
    }

    .spacer {
      height: 25vh;
      grid-row: 6;
      grid-column: 1/12;
    }
  }

  #about-section {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
    grid-template-rows: auto;
    background-image: linear-gradient(
      to bottom,
      black 0%,
      #95354c 20%,
      #95354c 20%
    );
    padding: 3rem 0;

    h2 {
      grid-column: 2 / 4; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 2/4;
      align-self: start; // Allinea h1 in alto
      color: $white;
    }

    p {
      grid-column: 9 / 12; // Posiziona p dalla 9ª alla 11ª colonna
      grid-row: 4;
      align-self: end; // Allinea p in basso
      text-align: right; // Allinea il testo di p a destra
      color: $white;
      font-weight: 300 !important;
    }
  }
  #advantages-section {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
    grid-template-rows: auto;
    background: $magenta;
    h2 {
      grid-column: 4 / 10; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 1;
      align-self: start; // Allinea h1 in alto
      color: $white;
      text-align: center;
    }
    .cards {
      grid-column: 3 / 11; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 2;
      display: flex;
      .card {
        display: flex;
        flex-direction: column;
        flex: 1;
        margin: 0 1rem;
        .card-image {
          flex: 1;
          border: $bg-black 1rem solid;
          background-image: url("../assets/bg-home.png");
          background-size: cover;
          background-position: center;
          min-height: 25vh;
          border-top-left-radius: 1rem;
          border-top-right-radius: 1rem;
        }
        .card-content {
          flex: 1;
          background-color: $white;
          padding: 1rem;
          border-bottom-left-radius: 1rem;
          border-bottom-right-radius: 1rem;
          display: flex;
          flex-direction: column;
          justify-content: start;
          h3 {
            margin: 0.5rem 0;
            max-width: 10rem;
          }
          p {
            justify-self: start;
          }
        }
      }
    }
  }

  #cta-faculty-wrapper {
    width: 15rem;
    transition: 0.2s ease-in-out all;
    &:hover {
      width: 25rem;
      transition: 0.2s ease-in-out all;
    }
  }
}
