main {
  &#person {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 150px;
    @media (max-width: 1000px) {
      padding: 2rem!important;
      margin-bottom: 50px;
    }
    .hero-section {
      display: flex;
      min-height: 100vh;

      @media (max-width: 1000px) {
        padding: 0;
        padding-top: 5rem;
        flex-direction: column;
      }
      div.content {
        flex: 1;
        display: flex;
        flex-direction: column;
        .tab-header{
          display: flex;
          overflow: auto;
          align-items: center;
          justify-content: center;
          @media (max-width: 1000px) {
            margin-bottom: 10px!important;
            padding-bottom: 8px;
            justify-content: start;
          }
          h4{
            font-size: 14px;
            margin-right: 8px;
            cursor: pointer;
            transition: .3s ease-in-out all;
            &.active{
              color: $magenta;
            }
          }
        }
        h2 {
          font-size: 2rem;
          color: $dark-blu;
          margin: 5px;
        }
        h4{
          margin: 5px;
        }
        p {
          margin: 5px;
          padding: 0px;
          font-size: 1rem;
          line-height: 1.5rem;
          color: $dark-blu;
          text-align: left;
          align-self: start;
          max-height: 70vh;
          overflow: auto;
        }
      }
      div.image {
        flex: 0.8;
        display: flex;
        justify-content: center;
        padding: 0 15px ;
        img {
          height: 35vh;
          width: 35vh;
          object-fit: cover;
          border-radius: 1rem;
          border: 1rem solid $bg-black;
        }
      }
    }
  }
}
