main {
  min-height: 100vh;
  .hero-section {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
  }
  &#staff-management {
    .hero-section {
      background-image: url("../assets/bg-home.png");
      background-size: cover;
      background-position: center;
      grid-template-rows: auto;
    }
    h1 {
      grid-column: 2 / 8; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 3/4;
      align-self: start; // Allinea h1 in alto
      color: $white;
    }

    p {
      grid-column: 10 / 12; // Posiziona p dalla 9ª alla 11ª colonna
      grid-row: 4;
      align-self: center; // Allinea p in basso
      text-align: right; // Allinea il testo di p a destra
      color: $white;
    }

    #orientamento-section {
      background: url("../assets/banner-orientamento.png");
      background-size: cover;
      background-position: center;
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: auto;
      padding: 4rem 0;
      h2 {
        grid-column: 4/10;
        grid-row: 1;
        text-align: center;
        color: $white;
        font-size: 2rem;
        margin: 1rem;
      }
      p {
        grid-column: 4/10;
        grid-row: 2;
        text-align: center;
        color: $white;
      }
    }
    .staff-section {
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: auto;
      padding: 3rem 0;

      h2 {
        color: $dark-blu;
        grid-column: 2/5;
        font-size: 2rem;
        grid-row: 1;
        margin: 0;
      }
     .cards-container{
      grid-column: 2/12;
      grid-row: 2/3;
      display: flex;
      padding: 2rem 0;
      width: 100%;
      flex-wrap:wrap;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      .card{
        width: 25vh;
        height: 25vh;
        border-radius: 1rem;
        margin-right: 1rem;
        background-color: $bg-black;
      }
     }

    }


    #corsi-section {
      margin-top: 3rem;
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: auto;
      .black-row {
        background: $bg-black-light;
        grid-column: 1/7;
        grid-row: 1;
        display: grid;
        border-top-right-radius: 1rem;
        grid-template-columns: repeat(6, 1fr); // Crea una griglia di 12 colonne
        grid-template-rows: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        min-height: 15vh;
        align-items: center;
        color: $white;
        p {
          grid-column: 2/6;
          font-size: 1rem;
          line-height: 1.6;
        }
      }
      .white-row {
        grid-column: 7/12;
        grid-row: 1;
        display: grid;
        border-top-right-radius: 1rem;
        grid-template-columns: repeat(6, 1fr); // Crea una griglia di 12 colonne
        grid-template-rows: auto;
        padding-top: 3rem;
        padding-bottom: 3rem;
        height: 15vh;
        align-items: center;
      }
      .black-row-2 {
        background: $bg-black-light;
        grid-column: 1/13;
        grid-row: 3;
        display: grid;
        border-top-right-radius: 1rem;
        grid-template-columns: repeat(
          12,
          1fr
        ); // Crea una griglia di 12 colonne
        grid-template-rows: auto;
        padding: 3rem 0;
      }
      h2 {
        text-transform: uppercase;
        grid-column: 1/7;
        grid-row: 1;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 3rem;
        margin: 0;
      }
      .plus-row {
        grid-column: 1/13;
        grid-row: 3;
        background: $bg-black-light;
        display: grid;
        grid-template-columns: repeat(
          12,
          1fr
        ); // Crea una griglia di 12 colonne
        grid-template-rows: auto;
        min-height: 10vh;
        align-items: start;
        padding-bottom: 3rem;
      }
    }
  }

  #staff-management {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
    grid-template-rows: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .content-wrapper {
      grid-column: 2 / 6; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 1;
      align-self: center;
    }
    h3 {
      color: $white;
      grid-column: 2 / 4; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 3;
      font-size: 1.5rem;
      align-self: end;
      margin: 0;
    }
    p {
      color: $dark-blu;
      grid-column: 10/12; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 3;
      text-align: start;
      align-self: end;
      font-size: 1rem;
      line-height: 1.6rem;
    }
    p.body {
      text-align: end;
    }
  }
}
