main {

  &#student-central {
    .hero-section {
      background-image: url("../assets/bg-student.png");
      background-size: cover;
      background-position: center;
      grid-template-rows: auto;
      min-height: 100vh;
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
    }
    h1 {
      grid-column: 2 / 8; // Posiziona h1 dalla 2ª alla 7ª colonna
      grid-row: 3/4;
      align-self: start; // Allinea h1 in alto
      color: $white;
    }

    p {
      grid-column: 10 / 12; // Posiziona p dalla 9ª alla 11ª colonna
      grid-row: 4;
      align-self: center; // Allinea p in basso
      text-align: right; // Allinea il testo di p a destra
      color: $white;
    }
   
    #contatti-section {
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: auto;
      padding: 3rem 0;

      h2 {
        color: $dark-blu;
        grid-column: 2/5;
        font-size: 2rem;
        grid-row: 1;
        margin: 0;
      }
      p {
        color: $dark-blu;
        grid-column: 2/6;
        font-size: 1rem;
        grid-row: 2;
        text-align: left;
        text-transform: uppercase;
        line-height: 1.4rem;
      }
      h3 {
        color: $dark-blu;
        grid-column: 9/11;
        font-size: 1.4rem;
        grid-row: 2;
        text-transform: uppercase;
        line-height: 1.4rem;
        text-align: end;
        align-self: end;
      }
      .contatti-wrapper {
        grid-column: 7/11;
        grid-row: 3;
        max-height: 36vh;
        overflow-y: auto;
        margin-bottom: 3rem;

        div {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          h4 {
            color: $magenta;
            text-align: end;
            margin: 0.5rem;
          }
          span {
            color: $magenta;
            text-align: end;
          }
          .divider {
            background-color: $magenta;
            height: 2px;
            width: 100%;
            margin-top: 1rem;
          }
        }
        // Nascondi la scrollbar verticale
        &::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none; // per Firefox

        // Cambia il cursore al trascinamento
        cursor: grab;

        // Cambia il cursore quando si trascina
        &:active {
          cursor: grabbing;
        }
      }
    }
    #faq-section {
      display: grid;
      grid-template-columns: repeat(12, 1fr); // Crea una griglia di 12 colonne
      grid-template-rows: auto;
      padding: 3rem 0;

      h2 {
        color: $dark-blu;
        grid-column: 2/5;
        font-size: 2rem;
        grid-row: 1;
        margin: 0;
      }
      p {
        color: $dark-blu;
        grid-column: 2/6;
        font-size: 1rem;
        grid-row: 2;
        text-align: left;
        text-transform: uppercase;
        line-height: 1.4rem;
      }
      h3 {
        color: $dark-blu;
        grid-column: 9/11;
        font-size: 1.4rem;
        grid-row: 2;
        text-transform: uppercase;
        line-height: 1.4rem;
        text-align: end;
        align-self: end;
      }
      .contatti-wrapper {
        grid-column: 7/11;
        grid-row: 3;
        max-height: 36vh;
        overflow-y: auto;
        margin-bottom: 3rem;

        div {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem;
          h4 {
            color: $magenta;
            text-align: end;
            margin: 0.5rem;
          }
          span {
            color: $magenta;
            text-align: end;
          }
          .divider {
            background-color: $magenta;
            height: 2px;
            width: 100%;
            margin-top: 1rem;
          }
        }
        // Nascondi la scrollbar verticale
        &::-webkit-scrollbar {
          display: none;
        }
        scrollbar-width: none; // per Firefox

        // Cambia il cursore al trascinamento
        cursor: grab;

        // Cambia il cursore quando si trascina
        &:active {
          cursor: grabbing;
        }
      }
    }
  }
}
