.carousel-wrapper {
  max-width: 100vw;
  display: flex;
  overflow-x: auto;
  flex-wrap: nowrap;


  .faculty-card {
    height: 45vh;
    width: 45vh;
    min-width: 45vh;
    //background-image: url("../../../assets/bg-facolta.png");
    background-color: $magenta;
    background-size: cover;
    background-position: center;
    margin-right: 1rem;
    border: 1rem $bg-black solid;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    .card-title {
      margin: auto;
      text-align: center;
      font-size: medium;
      text-overflow: ellipsis;
      padding: 1rem ;
      position: relative;
      font-size: larger;
      color: $white;
      text-shadow: 3px 2px 4px black;
    }
    .faculty-cta {
      background-color: $bg-black;
      color: $white;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem 0;
      transition: 0.3s ease-in-out all;
      height: 2rem;
      border-top-right-radius: 1rem;

      width: 32vh;
      cursor: pointer;
      .arrow {
        width: 2rem;
        height: auto;
        margin-left: 1rem;
        transition: 0.3s ease-in-out all;
      }
      &:hover {
        width: 38vh;
        .arrow {
          transform: rotate(-90deg);
          transition: 0.3s ease-in-out all;
        }
      }
    }
  }
  // Nascondi la scrollbar
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none; // per Firefox

  // Cambia il cursore al trascinamento
  cursor: grab;

  // Cambia il cursore quando si trascina
  &:active {
    cursor: grabbing;
  }
  @media (max-width: 1000px) {
    .faculty-card {
      height: 40vh;
      width: 40vh;
      min-width: 40vh;
      border: 0.6rem black solid;
      .faculty-cta {
        top: 40vh;
        right: -31vh;
        .arrow {
          width: 1rem;
          margin-left: 0.5rem;
        }
      }
    }
  }
}
