.striscia {
  display: flex; // Imposta il layout dei figli in linea orizzontale
  overflow-x: auto; // Attiva lo scrolling orizzontale quando necessario
  white-space: nowrap; // Evita interruzioni di riga nei figli
  height: 3rem;
  background-color: $bg-black;
  max-width: 100vw;
  color: $white;
  align-items: center;

  &::-webkit-scrollbar {
    display: none; // Nascondi la scrollbar per Chrome e Safari (opzionale)
  }

  span {
    margin-right: 1rem;
    margin-left: 1rem;
    display: inline-block; // Assicurati che gli span siano inline-block per rispettare la larghezza
    cursor: pointer;
  }
}
