span{
    &.menu{
    font-size: 1.61rem;
    text-transform: uppercase;
}
}
.menu-item{
    font-size: 1rem;
    text-transform: uppercase;
}
.cta-button{
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
}
.page-title{
    font-size: 6rem;
    font-weight: bold;
    text-transform: uppercase;
}
.page-subtitle{
    font-size: 1rem;
    text-transform: uppercase;
}